file.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- WSDL file generated by Zend Studio. -->
<definitions name="InetCuotasWS" targetNamespace="urn:InetCuotasWS" xmlns:typens="urn:InetCuotasWS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:InetCuotasWS">
			<xsd:complexType name="Usuario">
				<xsd:all>
					<xsd:element name="cuota" type="xsd:float"/>
					<xsd:element name="cuota_usada" type="xsd:anyType"/>
					<xsd:element name="nivel_navegacion" type="xsd:string"/>
					<xsd:element name="usuario" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="ObtenerCuota">
		<part name="usuario" type="xsd:string"/>
		<part name="clave" type="xsd:string"/>
		<part name="dominio" type="xsd:string"/>
	</message>
	<message name="ObtenerCuotaResponse">
		<part name="ObtenerCuotaReturn" type="typens:Usuario"/>
	</message>
	<portType name="InetCuotasWSPortType">
		<operation name="ObtenerCuota">
			<documentation>
				Obtener el estado de la cuota de un usuario dado su usuario y clave.
			</documentation>
			<input message="typens:ObtenerCuota"/>
			<output message="typens:ObtenerCuotaResponse"/>
		</operation>
	</portType>
	<binding name="InetCuotasWSBinding" type="typens:InetCuotasWSPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ObtenerCuota">
			<soap:operation soapAction="urn:InetCuotasWSAction"/>
			<input>
				<soap:body namespace="urn:InetCuotasWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:InetCuotasWS" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="InetCuotasWSService">
		<port name="InetCuotasWSPort" binding="typens:InetCuotasWSBinding">
			<soap:address location="https://cuotas.uci.cu/servicios/v1/InetCuotasWS.php"/>
		</port>
	</service>
</definitions>